body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#spinner {
    width: 10vw;
    height: 10vw;
    border-width: 6px;
    border-style: solid;
    border-color: royalblue transparent;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

/* Animação do Spinner */
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
